# Directories
*cache*
__pycache__/
zz_deprecated

# Dot Files
.xml
#code_backend/.env

# User Files
/code_backend/random_stuff.py
/Structure.ods
/Databases/main_database.db
/Databases/CSV_Files/track_analysis.tsv

# IDE Specific
.idea
.code-workspace
.obsidian

/Databases/test.db
