# Directories
*cache*
__pycache__/
venv

# Dot Files
.xml
.env
*/.env

# User Files
Structure.ods
Untitled_1.ods
Databases/main_database.db
Databases/JSON_Files/spotify_*.json
!Databases/JSON_Files/spotify_*_dummy.json

# IDE Specific
.idea
.code-workspace
.obsidian

Databases/test.db
code_backend/__init__.py
