# Directories
*cache*
__pycache__/
venv

# Dot Files
.xml
.env
*/.env

# User Files
/code_backend/testing/dev_bench_1.py
/Structure.ods
/Databases/main_database.db
/Databases/JSON_Files/spotify_*.json

# IDE Specific
.idea
.code-workspace
.obsidian

/Databases/test.db
